<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <title>BridgeBorders | Travel & Educational Consulting</title>
    <meta name="description" content="Study Abroad Consultation 
    Cheapest Flight Rates 
    Tailor Made Travel Services" />
</head>
<body>
    <video autoplay muted loop poster="video-poster.jpg" id="background-video">
        <!-- <source src="../assets/images/bridgeVideo.webm" type="video/mp4"> -->
        <source src="https://firebasestorage.googleapis.com/v0/b/storage-project-113f8.appspot.com/o/bridgeVideo.mp4?alt=media&token=496f2141-9607-41dd-abeb-e3b80433bc73" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <button class="bg-deeperColor hidden" id="scrollToTopBtn">&UpArrow;</button>
    <!-- Header Section -->
    <section class="header-section bg-white bg-opacity-50 mx-auto mx-5 mt-5 p-5 rounded-lg shadow-lg md:mx-16">
        <nav class="relative container mx-auto p-2 level">
            <!-- Flex Container -->
            <div class="flex flex-col items-center justify-between md:flex-row">
                <!-- Logo -->
                <div class="pt-2">
                    <img class="rounded-lg" src="../assets/images/logo.jpg" alt="">
                </div>
                <!-- Menu Items -->
                <div class="flex flex-col space-y-2">
                    <div class="border-b-4 mt-4 border-deeperColor"></div>
                    <div class="flex flex-row space-x-2 pt-2 pb-2 md:space-x-6">
                        <h1 class="font-times text-lg font-bold  text-center">Study Abroad</h1>
                        <h1 class="font-times text-lg font-bold  text-center">Travel</h1>
                        <h1 class="font-times text-lg font-bold  text-center">Affordable Plans</h1>
                    </div>
                    <div class="border-b-4 mt-4 border-deeperColor"></div>
                </div>
            </div>
        </nav>
      <section class="flex flex-col mt-2 md:flex-row">
            <div class="flex-1 md:block">
                <img class="rounded-lg shadow-lg" src="../assets/images/school.png" alt="">
            </div>
            <div class="flex-1 flex flex-col mt-2 mx-5 md:mt-0">
                <h1 class="font-times text-4xl text-center font-bold text-deeperColor text-center md:text-5xl lg:text-5xl">Join BridgeBorders 2024 Scholars</h1>
                <p class="font-times text-lg text-center mt-5 font-semibold text-grey-400 lg:block md:hidden ">
                    We Help Students and Working People Gain Admission to Leading US, Canada, & UK Universities for Undergraduate, Graduate, Nursing, and Certification Programs
                </p>
                <!-- Button -->
                <div class="mt-14 flex self-center">
                    <a href="https://calendly.com/bridgeborders/30min" class="px-8 py-3 font-times text-lg font-bold text-white shadow-lg bg-deeperColor rounded-lg baseline hover:bg-lighterColor">Join</a>
                </div>
            </div>
        </section>
    </section>
<!-- Statistics -->
    <section class="bg-deeperColor mt-6 py-16 md:px-10">
        <h1 class="font-times text-white text-center font-bold mb-5 text-4xl md:text-5xl">Statistics</h1>
        <p class="font-times text-white text-center px-10 font-normal text-lg">The percentage of clients over the last 10 years who earned admission to the following schools in the Early Action/Early Decision round.</p>
        <div class="flex flex-row mt-4 rounded-lg justify-between mx-5 md:mx-16 bg-white p-5 md:mx-10 md:flex-col" id="counter">
            <div class="flex flex-col self-center space-y-2 md:flex-row md:space-x-16 md:space-y-0">
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="14">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        Michigan State University
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="11">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        Liberty University
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="13">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        Clarkson University
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="13">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        North Dakota State University
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="16">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        Cornell University
                    </p>
                </div>
            </div>
            <div class="hidden flex flex-0 border-b-4 mt-8 border-deeperColor md:block"></div>
            <div class="flex flex-col self-center space-y-2 md:flex-row md:space-x-16">
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="12">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        The University of Winnipeg
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="12">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        University of Manitoba
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="17">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        Drexel University
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="11">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        University of Alberta
                    </p>
                </div>
                <div class="stat-box flex flex-col text-center">
                    <h1 class="numbers font-times js-count-up text-deeperColor font-bold" data-count="10">0</h1>
                    <p class="school font-times text-lg text-black font-semibold">
                        University of Oxford
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About -->
    <!-- <section class="bg-transparent py-16 md:px-14">
      <div class="bg-lighterColor rounded-lg shadow-xl border-2 border-deeperColor  p-4  mx-10">
        <h1 class="font-times text-deeperColor text-center mt-6 font-bold mb-5 text-4xl md:text-5xl">More About Us</h1>
        <p class="font-times text-black text-left font-normal text-lg mb-3">At BridgeBorders, an OTITL Company based in NY and Toronto, we understand the complexities of international travel, and strive to make it as easy and as affordable as possible. Our team of expert travel advisors are here to provide you with the best guidance to make sure you make the most out of your travels. We provide cost effective study abroad opportunities for students and workers, global flight booking, and customized travel arrangements for businesses and Individuals.</p>
        <!-- <div class="flex flex-col mx-auto rounded-lg bg-white py-3 px-5 mb-3 justify-between md:flex-row">
            <h1 class="font-times text-deeperColor text-center mt-2 font-bold mb-2 text-lg md:text-left">Our GPT Finds you the Cheapest Flights to anyplace in the world. Don't have ChatGPT Plus? Get in touch with us to book your flight!</h1>
            <form action="/gpt" method="get" class="self-center">
                <button type="submit" class="font-times ml-3 px-3 py-2 text-lg font-bold text-center text-white shadow-lg bg-deeperColor rounded-lg baseline hover:bg-lighterColor">Start A Chat</button>
            </form>
        </div> -->
    </div>
  </section> -->
  <!-- Why Choose Us -->
  <section class="bg-transparent py-16 px-6 md:px-10">
    <h1 class="font-times text-deeperColor text-center font-bold mb-5 text-4xl md:text-5xl">Why Book Us?</h1>
    <div class="flex flex-col justify-between md:flex-row md:mx-14">
        <div class="flex flex-row bg-white mt-5 rounded-lg border-2 border-deeperColor px-4 py-3 shadow-lg hover:shadow-2xl hover:border-gray-800 hover:cursor-pointer">
            <div class="center-container rounded-lg bg-lighterColor text-center">
                <h1 class="text-deeperColor font-times text-center p-5 py-3 font-bold text-3xl md:text-3xl">1</h1>
            </div>
            <div class="flex-col text-left">
                <h3 class="text-deeperColor font-times font-bold ml-4 text-xl md:text-3xl">Cheapest Flight Rates</h3>
                <p class="font-times text-gray-600 font-bold ml-4 text-lg">With BridgeBorders, you get the cheapest flight rates.</p>
            </div>
        </div>
        <div class="flex flex-row bg-white mt-5 rounded-lg border-2 border-deeperColor px-4 py-3 shadow-lg hover:shadow-2xl hover:border-gray-800 hover:cursor-pointer">
            <div class="center-container rounded-lg bg-lighterColor text-center">
                <h1 class="text-deeperColor font-times text-center p-5 py-3 font-bold text-3xl md:text-3xl">2</h1>
            </div>
            <div class="flex-col text-left">
                <h3 class="text-deeperColor font-times font-bold ml-4 text-xl md:text-3xl">Tailor-Made Services</h3>
                <p class="font-times text-gray-600 font-bold ml-4 text-lg">We provide top-notch services you will barely find anywhere.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-between md:flex-row md:mx-14">
        <div class="flex flex-row bg-white mt-5 rounded-lg border-2 border-deeperColor px-4 py-3 shadow-lg hover:shadow-2xl hover:border-gray-800 hover:cursor-pointer">
            <div class="center-container rounded-lg bg-lighterColor text-center">
                <h1 class="text-deeperColor font-times text-center p-5 py-3 font-bold text-3xl md:text-3xl">3</h1>
            </div>
            <div class="flex-col text-left">
                <h3 class="font-times text-deeperColor font-times font-bold ml-4 text-xl md:text-3xl">Global Reach</h3>
                <p class="font-times text-gray-600 font-bold ml-4 text-lg">We're a world-wide firm registered around the globe.</p>
            </div>
        </div>
        <div class="flex flex-row mt-5 bg-white rounded-lg border-2 border-deeperColor px-4 py-3 shadow-lg hover:shadow-2xl hover:border-gray-800 hover:cursor-pointer">
            <div class="center-container rounded-lg bg-lighterColor text-center">
                <h1 class="text-deeperColor font-times text-center p-5 py-3 font-bold text-3xl md:text-3xl">4</h1>
            </div>
            <div class="flex-col text-left">
                <h3 class="text-deeperColor font-times font-bold ml-4 text-xl md:text-3xl">100% Money Protected</h3>
                <p class="font-times text-gray-600 font-bold ml-4 text-lg">At BridgeBorders, your money is safe and guaranteed with us.</p>
            </div>
        </div>
    </div>
</section>
<!-- Destinations -->
<section class="bg-white py-16 md:px-14">
  <h1 class="text-deeperColor font-times text-center font-bold mb-12 text-4xl md:text-5xl">Destinations</h1>
  <div class="container mx-auto p-42">
      <div class="flex flex-col md:flex-row">
          <div class="flex-1 gallery-item relative mt-5 rounded-lg">
              <img src="../assets/images/d1.jpeg" alt="Image 1" class="rounded-lg">
              <div class="overlay">
                  <div class="overlay-text font-times">Asia</div>
              </div>
          </div>
          <div class="flex-1 gallery-item relative mt-5 rounded-lg">
              <img src="../assets/images/d5.jpeg" alt="Image 5" class="rounded-lg">
              <a href="https://www.instagram.com/bridgeborders/">
                <div class="overlay">
                    <div class="overlay-text font-times">Caribbean</div>
                </div>
              </a>
          </div>
          <div class="flex-1 gallery-item relative mt-5 rounded-lg">
              <img src="../assets/images/d2.jpeg" alt="Image 2" class="rounded-lg">
              <a href="https://www.instagram.com/bridgeborders/">
                <div class="overlay">
                    <div class="overlay-text font-times">Australia</div>
                </div>
              </a>
          </div>
      </div>
      <div class="flex flex-col md:flex-row">
          <div class="flex-1 gallery-item relative mt-5 rounded-lg">
              <img src="../assets/images/d3.jpeg" alt="Image 3" class="rounded-lg">
              <a href="https://www.instagram.com/bridgeborders/">
                <div class="overlay">
                    <div class="overlay-text font-times">Europe</div>
                </div>
              </a>
          </div>
          <div class="flex-1 gallery-item relative mt-5 rounded-lg">
              <img src="../assets/images/d4.jpeg" alt="Image 4" class="rounded-lg">
              <a href="https://www.instagram.com/bridgeborders/">
                <div class="overlay">
                    <div class="overlay-text font-times">Africa</div>
                </div>
              </a>
          </div>
      </div>
  </div>
</section>
<!-- Testimonials -->
<section class="bg-white py-16 md:px-14">
  <h1 class="font-times text-deeperColor text-center font-bold mb-12 text-4xl md:text-5xl">Testimonials</h1>
  <section class="text-gray-600 body-font"> 
      <div class="container px-5  mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/3 w-full">
            <div class="h-full bg-gray-100 p-8 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
              </svg>
              <p class="font-times leading-relaxed text-lg mb-6">After KNUST, I was confused about what to do next; thank you for the opportunity to pursue my dreams in Toronto, Canada.</p>
              <a class="inline-flex items-center">
                <img alt="testimonial" src="https://eu.ui-avatars.com/api/?name=Zelia+S&size=250" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-4">
                  <span class="font-times title-font font-medium text-gray-900 text-lg">Zelia SP.</span>
                  <span class="font-times text-gray-500 text-sm">Student</span>
                </span>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 w-full">
            <div class="h-full bg-gray-100 p-8 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
              </svg>
              <p class="font-times leading-relaxed text-lg mb-6">BridgeBorders saved me $200 in cost for my flight from Jomo Kenyatta Int Airport to JFK</p>
              <a class="inline-flex items-center">
                <img alt="testimonial" src="https://eu.ui-avatars.com/api/?name=Sarah+Doe&size=250" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-4">
                  <span class="font-times title-font font-medium text-gray-900 text-lg">Sarah D.</span>
                  <span class="font-times text-gray-500 text-sm">Traveler</span>
                </span>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="font-times leading-relaxed text-lg mb-6">We loved every second & would go back to the Dominica Republic in a heartbeat.</p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="https://eu.ui-avatars.com/api/?name=Laura+G&size=250" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="font-times title-font font-medium text-gray-900 text-lg">Laura G.</span>
                    <span class="font-times text-gray-500 text-sm">Artist</span>
                  </span>
                </a>
              </div>
            </div>
        </div>
      </div>
    </section>
</section>
<!-- Student Gallery -->
<section class="bg-white py-16 md:px-14">
    <h1 class="font-times text-deeperColor text-center font-bold mb-12 text-4xl md:text-5xl">Our Gallery</h1>
    <!-- Medium Screen and above -->
      <div id="carousel" class="overflow-hidden hidden relative md:block">
        <div class="flex transition-transform duration-300">
          <% data.galleryData.forEach(galleryItem => { %>
            <img src="<%= galleryItem.imageUrl %>" class="w-1/2 p-2 md:w-1/3"/>
          <% }); %>          
        </div>
      </div>
      <!-- Small Screen only -->
      <div class="bg-white flex flex-col justify-center items-center md:hidden">

      <div class="carousel"> 
        <% data.galleryData.forEach((galleryItem, index) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>"> 
            <div class="slide-image"> 
              <img src="<%= galleryItem.imageUrl %>" class="carouselImage"/>
            </div> 
          </div>
        <% }); %>        
        
    </div> 
  </div>
      
</section>
<!-- Book A Meeting -->
<section class="bg-white py-16 md:px-20">
  <div class="mx-2 md:mx-20">
      <h1 class="text-deeperColor text-center px-8 font-bold mb-12 font-times text-4xl md:text-5xl">Connect With Us</h1>
  <div class="flex flex-col rounded-lg border-2 border-deeperColor mx-8 px-4 py-4">
      <p class="font-times self-center text-gray-600 font-bold ml-4 text-lg">Booking a major trip is exciting,
          but it can also be a bit
          overwhelming.
          We understand. That's why we
          have live Travel Experts here to
          take care of your every need,
          making your trip stress-free &
          amazing.
      </p>
      <div class="self-center mt-6 mb-3">
          <a href="https://calendly.com/bridgeborders/30min" class="font-times px-8 py-3 text-lg font-bold text-white shadow-lg bg-deeperColor rounded-lg baseline hover:bg-lighterColor">Connect With Our Team</a>
      </div>
  </div>
  </div>
</section>
<!-- Footer -->
<div class=" bg-gray-900">
  <div class="max-w-2xl mx-auto text-white py-10">
      <div class="text-center">
          <h class="text-xl mb-3 font-times"> 30W, 26th Street, Sixth Floor </h3>
          <p class="text-lg mb-3 font-times"> New York NY 10010 </p>
          <p class="text-lg mb-3 font-times"> United States </p>
          <div class="flex justify-center my-10">
            <h class="text-xl mb-3 font-times self-center"> +233 268733580 </h3>
              <div class="flex items-center border w-auto rounded-lg px-4 py-2 w-52 mx-2">
                  <img src="https://www.cdnlogo.com/logos/w/29/whatsapp-icon.svg" class="w-7 md:w-8">
                  <div class="text-left ml-3">
                      <p class='text-xs text-gray-200 font-times'>Contact us on </p>
                      <p class="text-sm md:text-base font-times"> WhatsApp </p>
                  </div>
              </div>
              <h class="text-xl mb-3 font-times self-center"> +1 (802) 526-9226 </h3>
          </div>
          <div class="flex items-center border w-auto rounded-lg px-4 py-2 w-52 mx-2">
            <img src="https://www.cdnlogo.com/logos/i/92/instagram.svg" class="w-7 md:w-8">
            <div class="text-left ml-3">
                <p class='text-xs text-gray-200 font-times'>Let's connect on </p>
                <p class="text-sm md:text-base font-times"> Instagram </p>
            </div>
        </div>
      </div>
      <div class="mt-28 flex flex-col md:flex-row md:justify-between items-center text-sm text-gray-400">
          <p class=" self-center order-2 md:order-1 mt-8 md:mt-0"> &copy; BridgeBorders, 2024. </p>
          <div class="order-1 md:order-2">
              <span class="px-2 font-times">Study Abroad</span>
              <span class="px-2 border-l font-times">Travel Plans</span>
              <span class="px-2 border-l font-times">Affordable Flights</span>
          </div>
      </div>
  </div>
</div>
<!-- Modal Popup -->
<div id="modalOverlay">
    <div class="modalPopup py-5 px-5 flex flex-col rounded-lg md:w-1/3">
      <% data.modalData.forEach(modalItem => { %>
            <img src="<%= modalItem.imageUrl %>" alt="" class="flex-3 rounded-lg self-center flex-4">
            <button class="flex-1 font-times buttonStyle self-center px-8 py-2 mt-4 text-lg font-bold text-white bg-deeperColor rounded-lg baseline hover:bg-lighterColor" id="button">Close</button>
            <!-- <div class="modalContent flex-1">
                
                    <h1 class="font-times text-black text-center font-bold mt-5 mb-5 text-3xl md:text-4xl"><%= data.title %></h1>
                    <p class="hidden font-times text-center text-gray-600 font-semibold ml-4 text-lg md:block"><%= data.description %></p>
                    
            </div> -->
        <% }); %>
    </div>
</div>

  <script src="../js/jquery-3.6.0.js"></script>
  <script src="../js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.5/dist/alpine.js"></script>

  <script>
    window.embeddedChatbotConfig = {
    chatbotId: "RZIYpi4hOclSdwaJ6neBZ",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="RZIYpi4hOclSdwaJ6neBZ"
    domain="www.chatbase.co"
    defer>
    </script>
</body>
</html>